
nav {
    background-color: #0D0000;
}

.nav-wrapper {
    height: 50px;

}

@media only screen and (min-width : 992px) {
    .invesible-top {
      top: 65px;
    }
}

.background {
    background-color: whitesmoke;
}

a .fas {
    display: flex;
    justify-content: center;
}

.background img{
    height: 100%;
    width: 100%;
}