<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
    {% block title %}
        Asapay
    {% endblock %}
    </title>
    {% block styles %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"/>
    {% endblock %}
  </head>

  <body>
    {% block messages %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% endif %}
    {% endblock %}
    {% block header %}
        <header>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper">
                        <div class="row">
                            <a href="#!" class="brand-logo">Asapay Admin Dashboard</a>
                            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                            <ul class="right hide-on-med-and-down">
                                <li><a href="#!"><i class="material-icons">search</i></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <ul id="slide-out" class="sidenav sidenav-fixed invesible-top">
                <li><div class="user-view">
                <div class="background">
                    <img src="{% static 'images/splash.jpg' %}">
                </div>
                <a href="#!"><i class="fas fa-user-circle fa-4x white-text"></i></a>
                <a href="#name"><span class="white-text name">Admin</span></a>
                <a href="#email"><span class="white-text email">admin@admin.com</span></a>
                </div></li>
                <li><a href="#users" class="waves-effect"><i class="fas fa-user-circle fa-2x"></i>Users</a></li>
                <li><a href="#payments" class="waves-effect"><i class="fas fa-dollar-sign fa-2x"></i>Payments</a></li>
            </ul>
        </header>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
    {% block scripts %}
    {% load static %}
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% endblock %}
  </body>
</html>
